.vehicleproductcategory {
  padding-bottom: 24px;
  margin-top: 40px;
  border-bottom: 1px solid var(--color-border-light);
  ul{
      display: flex;
      flex-wrap: wrap;
      gap: 8px;
      list-style: none;
      li {
          padding: 16px 24px;
          border: 1px solid var(--color-border-light);
          border-radius: 64px;
          margin: 0;
          font-size: var(--text-sm);
          line-height: var(--text-sm-lh);
          font-weight: 400;
          font-family: var(--font-fam-secondary);
          color: var(--color-primary);
          flex-basis: auto;
          min-width: 136px;
          text-align: center;
          cursor: pointer;
      }
      li.active-filter {
          background-color: var(--color-accent);
          color: var(--color-on-accent);
          padding: 16px 45px;
          min-width: 104px;
      }
  }
}

@media screen and (max-width: 768px) {
  .vehicleproductcategory {
      margin-bottom: 24px;
      margin-top: 16px;
      ul{
          flex-wrap: unset;
          overflow: auto;
          padding-bottom: 6px;
      }
      li {
          flex: 0 0 auto;
          min-width: 120px;
      }
  }
}

.dark .vehicleproductcategory {
    border-bottom: 1px solid var(--color-primary);
}

.dark .vehicleproductcategory ul li {
    border: 1px solid var(--color-primary);
    &.active-filter{
        color: var(--color-accent-dark);
    }
}
