
@use "../../utils/css/vars" as *;

@media screen and (max-width: $screen-md){
    .content-feedback{
        padding-bottom: 64px;
    }
}

.feedback-container {
    background-color: var(--color-content-bg);
    padding: 20px 15px;
    margin-top: 40px;

    @media screen and (max-width: $screen-md){
        // width: 327px;
        margin-top: unset;
    }

    .feedback-question {
        font-size: var(--text-lg);
        line-height: var(--text-lg-lh);
        color: var(--color-primary);
        font-family: var(--font-fam-secondary); 
        font-weight: 400;
        margin-bottom: 4px;

        @media screen and (max-width: $screen-md){
            font-size: var(--text-base);
            line-height: var(--text-base-lh);
        }
    }

    .feedback-text {
        font-size: var(--text-sm);
        line-height: var(--text-sm-lh);
        margin-bottom: 24px;
        font-family: var(--font-fam-secondary); 
        font-weight: 400;
        color: var(--color-primary);
        opacity: 70%;
    }

    .feedback-buttons {
        display: flex;
        gap: 8px;

        .feedback-button {
            background-color: var(--color-accent);
            color: var(--color-bg);
            border: none;
            border-radius: 50%;
            width: 40px;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: center;
            cursor: pointer;
            // font-size: 20px;
            transition: background-color 0.3s ease-in-out;

            &:hover {
                background-color: var(--color-primary);
            }

            &:disabled {
                cursor: not-allowed;
                opacity: 0.5;
            }

            &.selected {
                background-color: #4caf50;
                // background-color: var(--color-primary);
                // border: 3px solid white;
                transform: scale(1.1); 
                opacity: unset;
            }
        }
    }
    .feedback-message {
        font-size: var(--text-sm);
        line-height: var(--text-sm-lh);
        color: var(--color-primary);
        font-family: var(--font-fam-secondary); 
        font-weight: bold;
        text-align: center;
        margin-top: 15px;
        opacity: 0;
        transform: translateY(10px);
        transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    }
}

.screen-md-hide{
    display: block;
    @media screen and (max-width: $screen-md){
        display: none;
    }
}

.screen-md-show{
    display: none;
    @media screen and (max-width: $screen-md){
        display: block;
    }
}
