@use "../../../utils/css/vars" as *;

.fsi-banner-wrapper {
 

  > .cmp-container {
    height: 491px;
    border-top: 1px solid var(--color-primary);

    @media screen and (max-width: $screen-md){
      height: 239px;
      background-size: 100% 100%!important;
      border-top: unset;
    }

    h1.cmp-title__text {
      font-size: var(--text-5xl);
      line-height: var(--text-5xl-lh);
      font-weight: 400;
      font-family: "Manrope";
      color: var(--color-primary);
      width: 292px;
      margin-bottom: 8px;

      @media screen and (max-width: $screen-md) {
        font-size: var(--text-3xl);
        line-height: var(--text-3xl-lh);
        width: 250px;
      }
    }

    .cmp-text {
      p {
        font-size: var(--text-2x);
        line-height: var(--text-2xl-lh);
        font-weight: 400;
        font-family: "Manrope";
        color: var(--color-primary);

        @media screen and (max-width: $screen-md) {
          font-size: var(--text-xl);
          line-height: var(--text-xl-lh);
        }
      }
    }

    .title {
      padding-top: 107px;
      padding-left: 88px;
      @media screen and (max-width: $screen-md) {
        padding-left: 24px;
        padding-top: 42px;
      }
    }

    .text {
      font-family: Manrope;
      font-weight: 400;
      font-size: var(--text-2xl);
      line-height: var(--text-2xl-lh);
      letter-spacing: 0px;
      color: var(--color-primary);
      padding-left: 88px;

      @media screen and (max-width: $screen-md) {
        padding-left: 24px;
        
      }
    }
  }
}

.box-container {
  @media screen and (max-width: $screen-md) {
    padding-inline: unset !important;
  }
}

.objectives-text-wrapper {
  padding: 48px 0px 48px 0px;

  @media screen and (max-width: $screen-md) {
    padding: 46px 24px 46px 24px;
  }
  > .cmp-container {
    display: flex;
    gap: 140px;

    @media screen and (max-width: $screen-md) {
      flex-direction: column;
      gap: 40px;
    }

    .objective-text-left {
      width: 50%;
      @media screen and (max-width: $screen-md) {
        width: 100%;
      }

      .cmp-text {
        p {
          font-size: var(--text-2xl);
          line-height: var(--text-2xl-lh);
          font-weight: 400;
          font-family: "Manrope";
          color: var(--color-primary);
          & > a {
            font-family: Manrope;
            font-weight: 700;
            font-size: var(--text-lg);
            line-height: var(--text-lg-lh);
            letter-spacing: 0%;
            text-decoration: underline;

            @media screen and (max-width: $screen-md) {
              font-size: var(--text-xl);
              line-height: var(--text-xl-lh);
            }
          }
        }
      }
    }
    .objective-text-right {
      width: 50%;

      @media screen and (max-width: $screen-md) {
        width: 100%;
      }

      .cmp-text {
        h3 {
          font-size: var(--text-xl);
          line-height: var(--text-xl-lh);
          font-weight: 700;
          font-family: "Manrope";
          color: var(--color-primary);
          margin-bottom: 24px;

          @media screen and (max-width: $screen-md) {
            font-size: var(--text-base);
            line-height: var(--text-base-lh);
            margin-bottom: 12px;
          }
        }

        ul {
          li {
            font-size: var(--text-sm);
            line-height: var(--text-sm-lh);
            font-weight: 400;
            font-family: "Manrope";
            color: var(--color-primary);
            margin-bottom: 16px;
          }
        }
      }
    }
  }
}
