div.accessibility * {
  line-height: initial !important;
  letter-spacing: initial !important;
}
div.accessibility .accessibility-icon {
  position: fixed; /* Changed from absolute to fixed */
  bottom: 20px; /* Added a distance from the bottom */
  right: 20px; /* Added a distance from the right */
  width: 50px;
  cursor: pointer;
  z-index: 1;
}
div.accessibility .accessibility-menu {
  position: fixed;
  right: 20px;
  width: 300px;
  bottom: 96px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 20px;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
div.accessibility .menu-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
  background-color: #007bff;
  padding: 12px 16px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
div.accessibility .menu-header h3 {
  font-size: 18px;
  font-weight: 400;
  color: #ffffff;
}
div.accessibility .reset-btn {
  background-color: grey;
  color: white;
  border: none;
  margin: 2px 16px;
  padding: 4px 12px;
  cursor: pointer;
  border-radius: 5px;
}
div.accessibility #accessibility-reset {
  background: transparent;
  border-radius: 50%;
  padding: 5px;
  border: 2px solid white;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
div.accessibility #accessibility-reset:active {
  -webkit-box-shadow: inset 2px 2px 25px rgba(0, 0, 0, 0.5);
          box-shadow: inset 2px 2px 25px rgba(0, 0, 0, 0.5);
}
div.accessibility .close-btn {
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: white;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
div.accessibility .close-btn:active {
  -webkit-box-shadow: inset 2px 2px 25px rgba(0, 0, 0, 0.5);
          box-shadow: inset 2px 2px 25px rgba(0, 0, 0, 0.5);
}
div.accessibility .menu-content {
  max-height: 500px;
  overflow-y: auto;
  padding: 15px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scrollbar-width: none;
  color: #333;
}
div.accessibility .menu-content-wrapper {
  display: grid;
  max-width: 300px;
  grid-template-columns: 48% 48%;
  grid-auto-rows: 1fr;
  grid-gap: 10px;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  text-align: center;
  color: #333;
  font-weight: 600;
}
div.accessibility .menu-option-container {
  background-color: #f4f4f4; /* Just to visualize the divs */
  padding: 10px;
  border: 1px solid #ccc;
}
div.accessibility .menu-option-container, div.accessibility .menu-option-container-fs {
  border: 1px solid grey;
  border-radius: 2px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
          box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}
div.accessibility .menu-option-container-fs {
  padding: 10px;
}
div.accessibility .menu-option-container input[type=range] {
  width: 100%;
}
div.accessibility #saturation, div.accessibility #font-size-wrap {
  grid-column: span 2;
}
div.accessibility .font-size-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
div.accessibility .increase-fs, div.accessibility .decrease-fs {
  margin-top: 0;
}
div.accessibility .default-fs {
  color: #333;
}
div.accessibility .menu-content h4 {
  color: #333;
}
div.accessibility .menu-options {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
div.accessibility .menu-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 5px;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
div.accessibility .menu-button .icon {
  margin-right: 10px;
  font-size: 1.2rem;
}
div.accessibility .menu-button.active {
  color: white;
}
div.accessibility .menu-button:hover {
  background-color: #e6e6e6;
}
div.accessibility #font-size-range {
  width: 100%;
  margin: 10px 0;
}
div.accessibility .option {
  margin-bottom: 15px;
}
div.accessibility .option label {
  margin-right: 10px;
  font-weight: bold;
}
div.accessibility .accordion-container {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}
div.accessibility .accordion-header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}
div.accessibility .accordion-content {
  display: none;
  padding: 15px;
  background-color: #fff;
}
div.accessibility .option-group {
  margin-bottom: 15px;
}
div.accessibility .option-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
div.accessibility .radio-option {
  margin-right: 10px;
}
div.accessibility .hidden {
  display: none;
}
div.accessibility .modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 1000;
}
div.accessibility .modal-content {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}
div.accessibility .modal-content h3 {
  font-size: 18px;
  font-weight: 600;
  border-radius: 8px;
  margin-bottom: 20px;
  background-color: whitesmoke;
  padding: 5px 10px;
  color: #2980b9;
}
div.accessibility .input-copy-div {
  margin-bottom: 12px;
}
div.accessibility #shortened-url-input {
  width: calc(100% - 90px);
  padding: 8px;
  margin-right: 8px;
}
div.accessibility button {
  padding: 5px 10px;
  cursor: pointer;
}
div.accessibility .info-modal-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
div.accessibility .info-modal-table,
div.accessibility .info-header,
div.accessibility .info-data {
  border: 1px solid #ddd;
}
div.accessibility .info-header,
div.accessibility .info-data {
  padding: 12px;
  text-align: left;
}
div.accessibility .info-header {
  background-color: #f2f2f2;
}
div.accessibility button {
  background-color: #3498db;
  color: white;
  border: none;
  cursor: pointer;
}
@media print {
div.accessibility #fetch-info-btn,
div.accessibility #print-btn {
    display: none;
  }
  div.accessibility body {
    font-size: 12pt;
    margin: 20px;
  }
  div.accessibility .info-table {
    width: 100%;
    border-collapse: collapse;
  }
  div.accessibility .info-header,
div.accessibility .info-data {
    border: 1px solid black;
    padding: 8px;
  }
  div.accessibility h1,
div.accessibility .section-title {
    color: black;
  }
  div.accessibility img {
    max-width: 100%; /* Ensure images fit the page width */
  }
  div.accessibility a {
    color: blue;
    text-decoration: underline;
  }
}
div.accessibility .section-title {
  background-color: #fff;
}
div.accessibility .page-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  max-width: 700px;
  margin: 0 auto;
  top: 20px;
  z-index: 3;
  overflow-y: auto;
}
div.accessibility .info-data {
  background-color: #fff;
}
div.accessibility .hidden-page-info {
  display: none !important;
}
div.accessibility .page-info-main {
  max-width: 700px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow-y: auto;
}
div.accessibility #close-page-info-btn {
  position: absolute;
  right: 0px;
  margin: unset;
}
div.accessibility .info-content {
  background-color: #fff;
  width: 80%;
  max-width: 600px;
  max-height: 80vh; /* Limit the height */
  overflow-y: auto; /* Enable scrolling if content overflows */
  border-radius: 8px;
  padding: 20px;
  -webkit-box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  scrollbar-width: none;
}
div.accessibility .section-title {
  margin: 0;
  font-size: 1.5em;
  text-align: center;
  width: 100%;
}
div.accessibility .info-table {
  width: 100%;
  border-collapse: collapse;
}
div.accessibility .info-table th,
div.accessibility .info-table td {
  padding: 8px;
  text-align: left;
}
div.accessibility .hidden-page-info {
  display: none;
}
div.accessibility .close-btn {
  background: white;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #333;
  border-radius: 50%;
  font-weight: bolder;
}
div.accessibility .menu-option-container.active {
  background-color: blue;
  color: white;
}
div.accessibility .menu-option-container .active h4 {
  background-color: blue;
  color: white;
}
div.accessibility .hidden {
  display: none;
}
div.accessibility .accordion-container {
  width: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
  overflow: hidden;
}
div.accessibility .accordion-header {
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  cursor: pointer;
  text-align: center;
}
div.accessibility .accordion-content {
  display: none;
  padding: 15px;
  background-color: #fff;
}
div.accessibility .option-group {
  margin-bottom: 15px;
}
div.accessibility .option-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
div.accessibility .radio-option {
  margin-right: 10px;
}
div.accessibility .theme-light {
  background-color: white;
  color: black;
}
div.accessibility .theme-dark {
  background-color: #333;
  color: white;
}
div.accessibility .theme-dark-text {
  color: #333;
}

.magnifier {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  display: none;
  pointer-events: none; /* Prevent interaction with the magnifier */
  z-index: 9999;
  -webkit-transition: -webkit-transform 0.1s ease-in-out;
  transition: -webkit-transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out;
  transition: transform 0.1s ease-in-out, -webkit-transform 0.1s ease-in-out;
  overflow: hidden;
  padding: 10px;
  font-size: 24px;
  max-width: 500px;
}

.magnifier span {
  display: block;
  word-wrap: break-word;
  color: white !important;
}

.accessibility-highlight #highlight-links-btn,
.accessibility-line-height #line-height-btn,
.accessibility-text-spacing #letter-spacing-btn,
.big-cursor-active #bigcursor-btn {
  background-color: #007bff;
}

.accessibility-highlight #highlight-links-btn > h4,
.accessibility-line-height #line-height-btn > h4,
.accessibility-text-spacing #letter-spacing-btn > h4,
.big-cursor-active #bigcursor-btn > h4 {
  color: white;
}
.big-cursor-active {
  cursor: url(/content/dam/aemguidesDALP/common/bigcursor.svg), auto !important;
}
.big-cursor-active a, .big-cursor-active button {
  cursor: url(/content/dam/aemguidesDALP/common/pointer.svg), pointer !important;
}
.accessibility-highlight a[href], .accessibility-highlight a[href] > * {
  background-color: black !important;
  color: yellow !important;
}
.accessibility-line-height * {
  line-height: 2.5rem !important;
}
.accessibility-text-spacing * {
  letter-spacing: 0.15rem !important;
}
