.hero_banner {
  .cmp-container {
    min-height: 560px;
    background-size: 100% 100% !important;
    background-repeat: no-repeat;
  }
}

.hero_text {
  .cmp-container {
    padding-top: 170px;
    padding-left: 88px;
    width: 33%;
    background-image: unset;

    .cmp-title {
      h1 {
        margin: 0;
        font-size: var(--text-5xl);
        line-height: var(--text-5xl-lh);
        font-weight: 400;
        color: var(--color-bg);
        font-family: var(--font-fam-primary);
      }
    }

    .cmp-text {
      p {
        margin: 0;
        font-size: var(--text-lg);
        line-height: var(--text-lg-lh);
        font-weight: 400;
        font-family: var(--font-fam-secondary);
        color: var(--color-bg);
        padding-top: 4px;
      }
    }
  }
}

@media screen and (min-width: 360px) and (max-width: 992px) {
  .hero_text {
    .cmp-container {
      padding-top: 19px;
      padding-left: 36px;
      width: 75%;
      background-image: unset;

      .cmp-title {
        h1 {
          font-size: var(--text-3xl);
          line-height: var(--text-3xl-lh);
        }
      }

      .cmp-text {
        p {
          font-size: var(--text-sm);
          line-height: var(--text-sm-lh);
        }
      }
    }
  }
}

@media screen and (max-width: 769px) {
  .hero_banner {
    .cmp-container {
      min-height: 285px;
      background-size: 210% 115% !important;
      background-position-x: -180px;

    }
  }
}

@media screen and (min-width: 500px) and (max-width: 769px) {
  .hero_banner {
    .cmp-container {
      background-size: 164% 115% !important;
    }
  }
}

@media screen and (min-width: 769px) and (max-width: 992px) {
  .hero_banner {
    .cmp-container {
      min-height: 350px;
      background-size: 100% 100% !important;
    }
  }

  .hero_text {
    .cmp-container {
      padding-top: 55px;
      width: 45%;
    }
  }
} 

.dark .hero_text .cmp-container .cmp-title h1,
.dark .hero_text .cmp-container .cmp-text p  {
  color: var(--color-primary);
}