<footer>
    <div class="footer">
        <div class="footer_wrapper">
            <div class="footer_gototop">
                <div class="gototop_arrow"></div>
                <p>Go to Top</p>
            </div>
            <div class="footer_logo-container">
                <div>
                    <a href="" class="footer_logo"><img src="${properties.fileReference}"></a>
                </div>
                <div>
                    <p class="footer_text">Welcome to Logo Name, where brilliance meets innovation!  We are a leading company dedicated to 
                    delivering exceptional products and services to cater to your needs.</p>
                </div>
            </div>
            <div class="footer_links-container">
                <div class="grid_item">
                    <p class="footer_links-title">Company</p>
                    <ul class="footer_links-list">
                        <a href=""><li class="footer_links-listlink">Overview</li></a>
                        <a href=""><li class="footer_links-listlink">Careers</li></a>
                        <a href=""><li class="footer_links-listlink">Investors</li></a>
                        <a href=""><li class="footer_links-listlink">Media Site</li></a>
                    </ul>
                </div>
                <div class="grid_item">
                    <p class="footer_links-title">Experience</p>
                    <ul class="footer_links-list">
                        <a href=""><li class="footer_links-listlink">Build & Price</li></a>
                        <a href=""><li class="footer_links-listlink">Search Inventory</li></a>
                        <a href=""><li class="footer_links-listlink">Get a Quote</li></a>
                        <a href=""><li class="footer_links-listlink">Trade-In Value</li></a>
                        <a href=""><li class="footer_links-listlink">Towing Guides</li></a>
                        <a href=""><li class="footer_links-listlink">Get Updates</li></a>
                        <a href=""><li class="footer_links-listlink">Certified Used</li></a>
                        <a href=""><li class="footer_links-listlink">Inventory</li></a>
                        <a href=""><li class="footer_links-listlink">Accessibility Program</li></a>
                    </ul>
                </div>
                <div class="grid_item">
                    <p class="footer_links-title">Accessibility Program</p>
                    <ul class="footer_links-list">
                        <a href=""><li class="footer_links-listlink">All Vehicles</li></a>
                        <a href=""><li class="footer_links-listlink">SUVs &Crossovers</li></a>
                        <a href=""><li class="footer_links-listlink">Trucks & Vans</li></a>
                        <a href=""><li class="footer_links-listlink">Cars</li></a>
                        <a href=""><li class="footer_links-listlink">Electrified</li></a>
                        <a href=""><li class="footer_links-listlink">Commercial Vehicles</li></a>
                        <a href=""><li class="footer_links-listlink">Future Vehicles</li></a>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer_social-wrapper">
            <a href="" class="footer_social"><i class="fa-brands fa-whatsapp"></i></a>
            <a href="" class="footer_social"><i class="fa-brands fa-facebook"></i></a>
            <a href="" class="footer_social"><i class="fa-brands fa-square-x-twitter"></i></a>
            <a href="" class="footer_social"><i class="fa-brands fa-instagram"></i></a>
            <a href="" class="footer_social"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        <div class="footer_copywrite-wrapper">
            <p class="footer_copywrite">© 2025. Logo India Pvt. Ltd. All Rights Reserved (provider)</p>
            <div class="footer_privacy-wrapper">
                <p class="footer_privacy">Privacy</p>
                <p class="footer_termcond">Terms & Conditions</p>
            </div>
        </div>
    </div>
</footer>