<sly data-sly-use.topicModel="com.adobe.guides.aem.components.core.models.TopicModel"></sly>
<sly
  data-sly-use.metadata="com.adobe.guides.aem.components.core.models.MetaDataModel"
></sly>

<div
  class="topic ${topicModel.cssClass}"
  id="${topicModel.id}"
  data-sly-attribute="${topicModel.localizationAttributes}"
>
  <div data-sly-list.child="${resource.listChildren}">
    <sly data-sly-test="${child.name == 'title' || child.name == 'glossterm'}">
      <div class="toolbar-scenario-mobile"></div>
      <div class="topic__container">
        <sly
          data-sly-resource="${child.path @ resourceType=child.resourceType}"
        ></sly>
        <button id="gu-copy-button" class="gu-copy-link">
          <img
            src="/content/dam/aemguides/common-images/icons/link.svg"
            class="gu-copy-icon"
            alt="Copy Link Icon"
          />
        </button>
        <div class="copy-link">Link Copied</div>
      </div>
      <sly>
        <div class="topic__updated">
          <div class="updated__container">
            <div class="updated__section">
              <span class="updated">${'Updated On' @ i18n} : ${metadata.lastUpdated}</span>
              <span>| </span>
              <span class="published">
                ${'Published On' @ i18n} : ${metadata.lastPublished}</span
              >
            </div>
            <div
              class="contributors"
              data-sly-resource="${'contributors' @ resourceType='guides-components/components/contributors'}"
            ></div>
          </div>
        </div>
        <div class="toolbar-container"></div>
      </sly>
    </sly>
    <sly data-sly-test="${!(child.name == 'title')}">
      <sly
        data-sly-resource="${child.path @ resourceType=child.resourceType}"
      ></sly>
    </sly>
  </div>
</div>
