.gu-container {
  max-width: 85vw;
  margin-left: auto;
  margin-right: auto;
}
.guides-site-page, .guides-product-page {
  .cmp-experiencefragment--header {
    height: 70px;
  }
}
.guides-product-page {
  .banner {
    .gu-banner {
      height: 350px;
    }
    .gu-banner__cta {
      margin-bottom: 1rem;
    }
    .gu-banner__container {
      justify-content: center;
      gap: 1rem;
    }
  }
}

