
#cmp-search-page-result{
    padding: 2rem 10rem;

    .searchbar{
        .cmp-search-bar{
            .cmp-search-bar__field {
                border: unset;
                .cmp-search-bar__input{
                    border: 2px solid var(--color-primary);
                    font-family:  var(--font-fam-primary);
                    color: var(--color-primary);
                    caret-color: var(--color-primary);
                    &::placeholder{
                        font-family:  var(--font-fam-primary);
                        color: var(--color-primary);
                    }
                }
                .cmp-search-bar__icon,.cmp-search-bar__clear-icon{
                    top: 1rem;
                    cursor: pointer;
                    @media screen and (max-width: 768px) {
                        top: 0.8rem;
                    }
                }
            }
        }
    }
    
    .searchresult  {
        // display: flex;
        flex-direction: row-reverse;
        margin-top: 1rem;
        .search__field--results{
            display: none;
            .cmp-sort__heading{
                display: flex;
                flex-direction: row;
                gap: 0.5rem;
                justify-content: flex-end;
                color: var(--color-primary);
                font-family: var(--font-fam-primary);
                @media screen and (max-width: 768px) {
                    justify-content: flex-start;
                    margin-bottom: 20px;
                }
                select{
                    color: var(--color-primary);
                    font-family: var(--font-fam-primary);  
                    font-size: var(--text-sm);
                    line-height: var(--text-sm-lh);
                    @media screen and (max-width: 768px) {
                        padding: 0 5px;
                    }
                }
            }
        }
        .search__field--view {
            width: 90%;
            padding: unset;
            @media screen and (max-width: 768px) {
                width: unset; 
            }
            .search-result-header{
                .sort-btn{
                    display: none;
                }
                .cmp-search__total-records{
                    color: var(--color-primary);
                    b{
                        font-weight: 900;
                    }
                }

                .go-back-btn {
                    color: var(--color-accent);
                    padding: 0;
                    text-decoration: underline;
                    cursor: pointer;
                    text-underline-offset: 2px;
                    font-size: var(--text-sm);
                    line-height: var(--text-sm-lh);
                }
            }
            ul.cmp-search-list__item-group {
                list-style: none;
            
                &> .cmp-searchresult-item {
                  padding-block: 15px; 
                  color: var(--color-primary);
                  margin-left: unset;
                  margin-bottom: unset;
                  .cmp-searchresult-title {
                    font-size: var(--text-xl);
                    line-height: var(--text-xl-lh);
            
                    .cmp-searchresult-link {
                      color: var(--color-primary);
                    }
                  }
                  
                  .cmp-searchresult-description {
                    font-size: var(--text-xs);
                    line-height: var(--text-xs-lh);
                    opacity: 0.8;
                  }
            
                  .cmp-searchresult-breadcrumb {
                    font-size: var(--text-sm);
                    line-height: var (--text-sm-lh);
                    color: var(--color-primary);
                    font-weight: 600;
                    word-spacing: 3px;
                    margin-top: 15px;
                  }
                }
            }
        }
        .search__results--footer{
            display: none;
        }
        #js-searchResults-endData{
            p{
                color: var(--color-primary);
            }
        }
        @media screen and (max-width: 768px) {
            flex-direction: column; 
        }
    }
    @media screen and (max-width: 768px) {
        padding: 2rem;
    }
}

.dark #cmp-search-page-result .searchbar  .cmp-search-bar .cmp-search-bar__field .cmp-search-bar__input,
.dark #cmp-search-page-result .searchresult .search__field--results .cmp-sort__heading select
{
    background-color: transparent;
}

.dark #cmp-search-page-result .searchbar  .cmp-search-bar .cmp-search-bar__field .cmp-search-bar__clear-icon,
.dark #cmp-search-page-result .searchbar  .cmp-search-bar .cmp-search-bar__field .cmp-search-bar__icon
{
    filter: invert(50%) sepia(100%) saturate(200%) hue-rotate(180deg);
}

/* Search bar clear icon styles */
#cmp-search-page-result {
    .search-container {
        .cmp-search-bar {

            &__input:placeholder-shown+.cmp-search-bar__clear-icon {
                display: none !important;
            }

            &__input:not(:placeholder-shown)+.cmp-search-bar__clear-icon {
                display: block !important;
            }
        }
    }
}
