<sly data-sly-use.relatedTagsObj="com.adobe.guides.aem.components.core.models.RelatedTags"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-test.hasContent="${relatedTagsObj.relatedTags}"/>
<h2 class="tags__heading" data-sly-test="${hasContent}">${properties.headline}</h2>
<div class="tags__envelop" data-sly-test="${hasContent}">
    <sly data-sly-list.relatedTag="${relatedTagsObj.relatedTags}">
        <div class="tags__container">
            <div class="tags__value">
                <h3>${relatedTag @ i18n}</h3>
            </div>
        </div>
    </sly>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent, classAppend='tags__envelop'}"></sly>
