html.adobeguides-text-size {
  .manufacturing-guides-topic-page .breadcrumb {
    padding: 1.25rem !important;
  }
  .custom-container {
    .gu-custom-container {
      margin-top: 70px;
    }
  }
  .gu-header_search-container .cmp-search__icon {
    top: 0.5rem;
  }
  .cmp-languagenavigation__item a {
    font-size: var(--body-1-fs) !important;
  }
  @media (max-width: 480px) {
    .gu-header_search-container .cmp-search__icon {
      top: 0.4rem;
    }
    .gu-header_toolbarheader .gu-search__container {
      display: flex;
      align-items: center;
    }
  }
  @media (min-width: 767px) {
    .header .gu-header_toolbarheader .below-title .gu-theme__icon-container {
      display: inline;
    }
    .toolbar.below-title.mobile img {
      filter: invert(80%) sepia(75%) saturate(1000%) hue-rotate(360deg)
        brightness(105%) contrast(105%);
    }
  }
  @media (max-width: 1023px){
    .header .cmp-search__clear-icon {
      top: 15px;
    }

    .toolbar-container .below-updated.mobile .toolsection__left {
      display: flex;
    align-items: center;
    gap: -0.5rem;
    }
    .toolbar.below-title.mobile img {
      filter: invert(80%) sepia(75%) saturate(1000%) hue-rotate(360deg)
        brightness(105%) contrast(105%);
    }
  }
}

html#adobeguides-dark-contrast {
  .base-topic-page-section {
    div.topic {
      .version-selector {
        .dropdown {
          background-color: transparent !important;
          border-color: var(--white-color) !important;
        }
      }
    }
  }
  .lat-section {
    border: 1px solid var(--white-color);
    margin: 0.625rem;
    width: 94%;
    .cmp-languagenavigation__group li,
    .cmp-languagenavigation__group,
    .cmp-languagenavigation {
      border-color: transparent !important;
      border: none;
      background-color: transparent !important;
    }
  }
}
html.adobeguides-light-contrast {
  .base-topic-page-section {
    div.topic {
      .version-selector {
        .dropdown {
          background-color: transparent !important;
          border-color: var(--bluish-color) !important;
        }
      }
    }
  }
  .lat-section {
    .cmp-languagenavigation__group li,
    .cmp-languagenavigation__group,
    .cmp-languagenavigation {
      border-color: transparent !important;
      border: none;
    }
  }
}
html.adobeguides-text-spacing {
  .lat-section
    .gu-accessibility-toolbar
    .gu-accessibility__title-container
    span {
    letter-spacing: normal !important;
  }
  .lat-section
    .gu-language-navigation-toolbar
    .gu-language-navigation__title-container
    span {
    letter-spacing: normal !important;
  }
  .gu-accessibility_menu.show a,
  .cmp-languagenavigation__group li,
  .cmp-languagenavigation__group,
  .cmp-languagenavigation {
    letter-spacing: normal !important;
  }
}
