.backToTop {
  .gu-backToTop_wrapper {
    .gu-backToTop_icon-container {
      background: #5f4b00;
      &:hover {
        background: #fff2c0;
      }

      img {
        content: url("/content/dam/guides/common-images/icons/backtotophover-or.svg");
      }

      &:hover img {
        content: url("/content/dam/guides/common-images/icons/manufacturing-backtop-dark.svg");
      }
    }
  }
}
