.manufacturing-guides-topic-page div.topic {
  .toolsection {
    .copy-link-component{
      position: relative;
    }
    .gu-copy-link__text{
      position: absolute;
      width: max-content;
      top: 100%;
    }
    .copy-link-button {
      padding: 0;
      width: auto;
      height: auto;
    }
    .gu-copy-link {
      margin-top: 0;
      background: none;
      border: none;
      cursor: pointer;
    }
  }
}
 
@media (min-width: 1024px) {
  .fsi-guides-topic-page div.topic {
    .toolsection {
      .copy-link-component {
        margin-top: 0;
        position: relative;
 
        .gu-copy-link__text{
          position: absolute;
          width: max-content;
        }
      }
    }
  }
}

html.adobeguides-light-contrast {
body.dark .gu-copy-link__text {
  color: white !important;
}
} 
html.adobeguides-light-contrast {
.manufacturing-guides-topic-page div.topic {
     .gu-copy-link__text{
      color: #5f4b00 ;
     }
    }
}
html.adobeguides-light-contrast .base-topic-page-section div.topic .section :last-child {
color: #5f4b00 ;
}

html#adobeguides-dark-contrast {
  .manufacturing-guides-topic-page div.topic {
     .gu-copy-link__text{
      color: #000000 !important;
     font-weight: bold;
      background: #fff2c0 !important;
     }
    }
}