.manufacturing-guides-topic-page div.topic {
  .toolsection {
    .copy-link-component{
      position: relative;
    }
    .gu-copy-link__text{
      position: absolute;
      width: max-content;
      top: 100%;
    }
    .copy-link-button {
      padding: 0;
      width: auto;
      height: auto;
    }
    .gu-copy-link {
      margin-top: 0;
      background: none;
      border: none;
      cursor: pointer;
    }
  }
}
 
@media (min-width: 1024px) {
  .fsi-guides-topic-page div.topic {
    .toolsection {
      .copy-link-component {
        margin-top: 0;
        position: relative;
 
        .gu-copy-link__text{
          position: absolute;
          width: max-content;
        }
      }
    }
  }
}
