.custom-container {
  padding: 0;

  .gu-custom-container {
    margin-top: 3.125rem;

    .fsi-container {
      background: var(--pre-next-bg);
      border-top: 1px solid var(--light-grey-border);
      padding: 1.25rem 1rem;
    }

    .col-6grid {
      flex: 0 0 100%;
      max-width: 100%;
    }

    // Desktop styles
    @media (min-width: 1024px) {
      margin-top: 4.375rem;
      display: flex;

      &.EDITMODE {
        .col-3grid.col-3grid--left {
          top: 0;
        }
      }

      // 3-column grid styles
      .col-3grid {
        display: flex;
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 23%;
        -ms-flex: 0 0 23%;
        flex: 0 0 23%;
        max-width: 23%;
        min-height: 40rem;
        height: auto;
        max-height: calc(100vh - 5rem);
        overflow: auto;

        .outer-container {
          width: 100%;
        }

        &--left {
          position: sticky;
          top: 10%;
          padding: 1.25rem 0;
          box-shadow: 0 0 1.5rem 0.25rem var(--dark-shadow);
          background-color: var(--pre-next-bg);
          border-radius: 0.75rem;
          margin: 0 1rem;
          min-height: 40rem;
          height: fit-content;
          max-height: calc(100vh - 20rem);
          overflow: auto;
          &::-webkit-scrollbar {
            width: 6px;
          }

          &::-webkit-scrollbar-track {
            background: var(--nav-bg);
            border-radius: 0.39rem;
          }

          &::-webkit-scrollbar-thumb {
            background: var(--border-common);
            border-radius: 0.39rem;
          }

          &::-webkit-scrollbar-thumb:hover {
            background: var(--light-grey-border);
          }
        }

        &--right {
          position: sticky;
          top: 10%;
          margin: 0 1rem;
          padding: 0.5rem 1.25rem;
          flex-direction: column;
          justify-content: space-between;
          min-height: 40rem;
          height: fit-content;
          max-height: calc(100vh - 20rem);
          overflow: auto;
          box-shadow: 0 0 1.5rem 0.25rem var(--dark-shadow);
          background-color: var(--pre-next-bg);
          border-radius: 0.75rem;

          .tableofcontents {
            display: block;
          }

          &.collapsed {
            width: fit-content !important;
            box-shadow: none;
            border-radius: 0;
            margin: 0;
            background-color: transparent;
            height: auto;
            flex: 0 0 fit-content !important;

            > div:not(.tableofcontents) {
              display: none;
            }

            .tableofcontents {
              display: flex;
              justify-content: flex-end;
            }

            .gu-toc__title {
              display: none;
            }

            .gu-toc__col-icon {
              transform: rotate(180deg);
            }

            .cmp-toc__content {
              display: none;
            }
          }
        }
      }

      // 6-column grid styles
      .col-6grid {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 50%;
        -ms-flex: 0 0 50%;
        flex: 0 0 50%;
        width: auto;
        max-width: 50%;
        .home-banner {
          border-radius: 0;
          box-shadow: none;
          border: none;
        }

          &.collapsed {
          max-width: 70%;
          flex: 1 1 69.9%;
        }
      }

      // Left-collapsed state
      &.left-collapsed {
        .col-3grid {
          flex: 0 0 23%;
          &--left {
            flex: 0 0 fit-content;
            box-shadow: none;
            border-radius: 0;
            margin: 0;
            background-color: transparent;
            height: auto;
          }
        }
        .col-9grid {
          flex: 0 0 95%;
          max-width: 95%;

          .col-9grid-container {
            gap: 0;
          }

          .col-9grid-components {
            width: 92.9%;
          }

          .gu-toolbar_wrapper.toolbar-hitech {
            flex-grow: 1;
          }
        }

        .col-6grid {
          flex: 1 1 70.9%;
          max-width: 71%;

          &.collapsed {
            flex: 1 1 89.9%;
            max-width: 92%;
          }
        }

        .cmp-navigation,
        .cmp-navigation-filter-container {
          display: none;
        }

        .cmp-navigation__col-icon {
          margin-top: 0.5rem;
          transform: rotate(0deg);
        }
      }

      // FSI container styles
      .fsi-container {
        background: var(--pre-next-bg);
        border-top: 1px solid var(--light-grey-border);
        padding: 1.5rem 1rem;

        .aem-Grid {
          display: flex;
        }
      }
    }
  }
}
