.footer {
  .gu-footer {
    &_contact-text {
      color: var(--footer-color);
      font-size: var(--body-font-size);
      font-weight: 600;
      line-height: var(--body-font-line-height);
      margin-bottom: 0;
      text-decoration: underline;
    }
  }
}
