.gu-pdf-export__wrapper {
  .gu-pdf-export__button {
    padding: 0;
    width: 40px;
    height: 40px;
  }
  .gu-pdf-export__button:hover,
  .gu-pdf-export__button:active {
    background-color: var(--secondary-btn-color-hover);
    border-radius: 50%;
  }
  .gu-pdf-export__options li {
    margin: 0;
  }

  .gu-pdf-export__options li:hover,
  .gu-pdf-export__options li.active {
    color: var(--primary-color);
    border-radius: 0.25rem;
    background: var(--tags-bg);
  }

  .gu-pdf-export__options li:hover a,
  .gu-pdf-export__options li.active a {
    color: var(--primary-color);
  }
}

@media (min-width: 600px) {
  .gu-pdf-export__wrapper {
    .gu-pdf-export__button {
      padding: 0.5rem;
    }
    .gu-pdf-export__dropdown {
      .gu-pdf-export__options li {
        margin: 0;
      }
    }
  }
}

@media (min-width: 1024px) {
  .manufacturing-guides-topic-page {
    .gu-pdf-export__wrapper {
      .gu-pdf-export__dropdown {
        transform: translateY(-5px);
        left: -7.5rem !important;
      }
    }
  }
  .adobeguides-text-size {
    .manufacturing-guides-topic-page {
      .gu-pdf-export__wrapper {
        .gu-pdf-export__dropdown {
          transform: translateY(-5px);
          left: -8rem !important;
        }
      }
    }
  }

  .adobeguides-text-spacing {
    .manufacturing-guides-topic-page {
      .gu-pdf-export__wrapper {
        .gu-pdf-export__dropdown {
          transform: translateY(-5px);
          left: -9.5rem !important;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .adobeguides-text-size {
    .manufacturing-guides-topic-page {
      .gu-pdf-export__wrapper {
        .gu-pdf-export__dropdown {
          transform: translateY(0px);
          left: -10.2rem !important;
        }
      }
    }
  }
  .adobeguides-text-spacing {
    .manufacturing-guides-topic-page {
      .gu-pdf-export__wrapper {
        .gu-pdf-export__dropdown {
          transform: translateY(-5px);
          left: -10.2rem !important;
        }
      }
    }
  }
}

// dark
.manufacturing-guides-topic-page.dark {
  .gu-pdf-export__wrapper
    .gu-pdf-export__dropdown
    .gu-pdf-export__options
    li:hover
    a {
    color: var(--link-color);
  }
}

// light-contrast
html.adobeguides-light-contrast {
  .manufacturing-guides-topic-page.dark {
    .gu-pdf-export__wrapper {
      .gu-pdf-export__dropdown {
        .gu-pdf-export__options {
          li {
            a {
              color: var(--toolbar-text-color);
            }

            &:hover {
              background-color: var(--tags-bg) !important;
              transition: background 0.3s ease-in-out;

              a {
                color: var(--link-color);
              }
            }
          }
        }
      }
    }
  }
  // light
  .manufacturing-guides-topic-page.light {
    ul.gu-pdf-export__options li a {
      color: var(--blue-link-color) !important;
      transition: color 0.3s ease-in-out;
    }
    ul.gu-pdf-export__options li a:hover {
      color: var(--primary-color) !important;
    }
  }
}
