.related-tags {
  margin-left: 0;
  margin-top: 3.125rem;
  .tags {
    &__heading {
      color: var(--tags-heading-color);
      font-size: var(--tags-fs);
      font-weight: var(--fw-h4);
      line-height: 1.5rem;
      margin-bottom: 0.75rem;
    }

    &__envelop {
      display: flex;
      white-space: nowrap;
      flex-wrap: wrap;
      gap: 0.75rem;
    }

    &__container {
      margin-bottom: 0.75rem;
    }

    &__value {
      border-radius: 0.25rem;
      background: var(--tags-bg);
      height: max-content;
      padding: 0.25rem 0.5rem;

      h3 {
        color: var(--primary-color);
        font-size: var(--body-font-size);
        font-weight: var(--fw-h6);
        line-height: var(--body-font-line-height);
        margin-bottom: 0;
      }
    }
  }
}
