.header {
  .cmp-search {
    &__clear-icon {
      top: 60px;
      left: 150px;
      background-image: url(/content/dam/guides/common-images/icons/cross-or.svg);
      background-size: contain;
      width: 12px;
      height: 12px;
      cursor: pointer;
    }

    &__input {
      &:focus-visible {
        outline: 1px solid var(--border-common);
        background: var(--search-bg-active);
        color: var(--search-text-active);
      }
    }

    &__results {
      padding: 0.5rem 0;
      outline: 1px solid var(--border-common);
      border: none;

      &:empty {
        display: none !important;
      }
    }

    &__item {
      padding: 0.5rem;
      font-size: var(--body-font-size);
      line-height: var(--body-font-line-height);
      font-weight: 400;

      &:hover {
        background: var(--top-bg-color);
      }
    }
    &__item-mark {
      background: transparent;
    }
  }
}
html#adobeguides-dark-contrast {
  .header {
    .cmp-search {
      &__item {
        color: var(--yellow-color);
        &:hover {
          background: var(--dark-grey);
        }
      }

      &__item-mark {
        background: none;
        color: var(--yellow-color);
      }
      &__input {
        outline: 1px solid var(--border-common);
        &:focus-visible {
          background: var(--search-bg);
          color: var(--search-text-active);
        }
      }
    }
  }
}
body.dark {
  .header {
    .cmp-search {
      &__item {
        color: #e8e8e8;
        &:hover {
          background: #787878;
        }
      }

      &__item-mark {
        background: none;
        color: #e8e8e8;
      }
    }
  }
}

@media (max-width: 1023px) {
  .header {
    .cmp-search {
      position: absolute;
      left: 0;
      right: 0;
      margin-top: 2rem;
      background: var(--common-bg);
      border: 1px solid var(--border-common);
      border-radius: 0 0 0.75rem 0.75rem;
      padding: 0.75rem 1rem 1rem;

      &__icon {
        left: 0;
        top: 0.4rem;
      }

      &__input {
        position: relative;
        margin-top: 0;
        left: unset;
        width: 100%;
        border-radius: 0.5rem;
        padding-left: 2rem;
        border: none;
        outline: none;
        box-shadow: none;

        &:focus-visible {
          outline: none;
        }
      }

      &__clear-icon {
        left: unset;
        top: 8px;
        right: 8px;
      }

      &__results {
        position: relative;
        left: auto;
        width: auto;
        margin-top: 0;
        padding-block: 0.5rem;
        border-radius: 0;
        border: none;
        box-shadow: none;
        outline: none;
      }

      &__item {
        padding-inline: 1rem;
        &:hover {
          background: var(--top-bg-color);
        }
      }
    }
  }
}

@media (min-width: 1024px) {
  .gu-header_search-container {
    .cmp-search {
      display: none;
      transition: transform 0.3s ease;
      &__icon {
        display: block;
        background-size: contain;
        width: 20px;
        height: 20px;
        pointer-events: none;
        left: 0.5rem;
        top: 0.375rem;
        margin-right: 0.5rem;
      }

      &__clear-icon {
        cursor: pointer;
        position: absolute;
        top: 0.7rem;
        right: 0.5rem;
        width: 0.7rem;
        height: 0.7rem;
        left: auto;
      }

      &__results {
        position: absolute;
        left: 0;
        min-width: 100%;
        margin-top: 0.25rem;
        padding: 0.5rem 0;
        border: 0;
        width: 100%;
        box-shadow: 0 0.75rem 1.25rem 0 var(--box-shadow-results);
        scrollbar-width: thin;
        border-top-left-radius: 0.5rem;
        border-bottom-left-radius: 0.5rem;
      }

      &__item {
        margin-bottom: 0;
      }
    }

    .cmp-search__input {
      display: block;
      height: 100%;
      width: 18rem;
      color: var(--search-text-color);
      font-size: var(--body-font-size);
      font-weight: var(--fw-h6);
      line-height: var(--body-font-line-height);
      margin-top: 0;
      display: block;
      position: unset;
      box-shadow: none;
      padding: 0.25rem 1.5rem 0.25rem 2.125rem;
      border-radius: 0.5rem;
    }

    .gu-search__toggle {
      border: none;
      background: none;
      cursor: pointer;
      padding: 0.75rem;
      height: 48px;
      width: 48px;
    }

    .gu-search__icon {
      width: 24px;
      height: 24px;
    }

    .cmp-search {
      display: block;
    }

    .gu-search__container {
      display: none;
    }
  }
}

.custom-search-container,
.custom-search-suggestions {
  padding: 0 18px;
}
.custom-search-suggestions {
  margin-left: 18px;
  margin-right: 18px;
}

.manufacturing-guides-topic-page.dark {
  .header {
    .cmp-search__item-mark {
      color: var(--color-text);
    }
  }
}

html#adobeguides-dark-contrast {
  .header {
    .cmp-search__item-mark {
      color: var(--yellow-color);
      body.manufacturing-guides-topic-page.dark,
      html#adobeguides-dark-contrast {
        .header {
          .cmp-search {
            &__clear-icon {
              filter: brightness(2.5);
            }
          }
        }
      }
    }
  }
}
