.social-share-container {
  .share-icon {
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: var(--secondary-btn-color-hover);
      border-radius: 50%;
    }
  }
}

@media (min-width: 1024px) {
  .manufacturing-guides-topic-page {
    .social-share-container {
      .social-links {
        transform: translateY(-5px);
        left: -7.5rem !important;
      }
    }
  }

  .adobeguides-text-spacing {
    .manufacturing-guides-topic-page {
      .social-share-container {
        .social-links {
          transform: translateY(-5px);
          left: -9rem !important;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .adobeguides-text-size {
    .manufacturing-guides-topic-page {
      .social-share-container {
        .social-links {
          transform: translateY(-5px);
          left: -7.5rem !important;
        }
      }
    }
  }
  .adobeguides-text-spacing {
    .manufacturing-guides-topic-page {
      .social-share-container {
        .social-links {
          transform: translateY(-5px);
          left: -7.5rem !important;
        }
      }
    }
  }
}

.manufacturing-guides-topic-page.dark {
  .base-topic-page-section div.topic .social-links li:hover a {
    color: var(--link-color);
    filter: brightness(0) invert(1) !important;
  }
  .cmp-languagenavigation__item-title {
    color: var(--link-color);
  }

  .cmp-languagenavigation__item:active,
  .cmp-languagenavigation__item:hover a {
    color: var(--link-color);
  }
}

html.adobeguides-light-contrast {
  .manufacturing-guides-topic-page.dark {
    .base-topic-page-section div.topic .social-links li a {
      color: var(--toolbar-text-color);
    }
    .base-topic-page-section div.topic .social-links li:hover {
      background-color: var(--tags-bg) !important;
      transition: background 0.3s ease-in-out;
    }
    .base-topic-page-section div.topic .social-links li:hover a {
      color: var(--link-color);
    }
    .base-topic-page-section div.topic .social-links li:hover img {
      filter: grayscale(100%) brightness(1000%);
    }
  }
}

// light
.manufacturing-guides-topic-page.light {
  ul.social-links li a {
    color: var(--blue-link-color) !important;
    transition: color 0.3s ease-in-out;
  }
  ul.social-links li a:hover {
    color: var(--primary-color) !important;
  }
}


