.social-share-container {
  .share-icon {
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: var(--secondary-btn-color-hover);
      border-radius: 50%;
    }
  }
}

@media (min-width: 1024px) {
  .manufacturing-guides-topic-page {
    .social-share-container {
      .social-links {
        transform: translateY(-5px);
        left: -7rem !important;
      }
    }
  }
}
