.manufacturing-guides-topic-page div.topic {
  .note.hazardstatement.warning {
    border-left: 1px solid var(--note-border-color) !important;
  }
  .itemgroup.info::before {
    color: var(--primary-color) !important;
  }
  .toolbar-container {
    display: block;
    position: relative;
    #link-fsi {
      position: absolute;
      bottom: -10px;
    }
    #link-fsi-mobile {
      position: absolute;
      bottom: -10px;
    }
  }
  .topic__updated .updated__container {
    padding-bottom: 0;
    border: 0;
    margin-bottom: 0.5rem;
  }
}
