@mixin fonts {
  --font-fam-primary: 'PP Editorial New', 'sans-serrif';
  --font-fam-secondary: 'Adobe Clean';
}

/* Define the font faces once */
@font-face {
  font-family: 'PP Editorial New';
  font-weight: 200;
  font-style: normal;
  src: url('/content/dam/aemguidesDALP/fonts/pp-editorial-new/PPEditorialNew-Ultralight.woff2') format('woff2');
}

@font-face {
  font-family: 'PP Editorial New';
  font-weight: 200;
  font-style: italic;
  src: url('/content/dam/aemguidesDALP/fonts/pp-editorial-new/PPEditorialNew-UltralightItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'PP Editorial New';
  font-weight: bold;
  font-style: italic;
  src: url('/content/dam/aemguidesDALP/fonts/pp-editorial-new/PPEditorialNew-UltraboldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'PP Editorial New';
  font-weight: normal;
  font-style: normal;
  src: url('/content/dam/aemguidesDALP/fonts/pp-editorial-new/PPEditorialNew-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'PP Editorial New';
  font-weight: normal;
  font-style: italic;
  src: url('/content/dam/aemguidesDALP/fonts/pp-editorial-new/PPEditorialNew-Italic.woff2') format('woff2');
}

@font-face {
  font-family: 'PP Editorial New';
  font-weight: bold;
  font-style: normal;
  src: url('/content/dam/aemguidesDALP/fonts/pp-editorial-new/PPEditorialNew-Ultrabold.woff2') format('woff2');
}

//Adobe Clean

@font-face {
  font-family: 'Adobe Clean';
  src: url('/content/dam/aemguidesDALP/fonts/adobe-clean/AdobeClean-Regular.woff');
}
