@use "themes";
@use "fonts" as *;
@use "../../../utils/css/vars" as *;

:root{
  @include fonts;
}


body {
  background-color: var(--color-bg);
  font-family: var(--font-fam-secondary);
}

.hero-container {
  .cover-img {
    max-width: 940px;
    max-height: 400px;

    &> img {
      width: 100%;
      height: 100%;
    }
  }
}

.guides-header {
  background: var(--color-bg2);
}

.fsi-header-wrapper {
  background: var(--color-bg2);
  padding: 20px 0 20px 0;
}

.header-logo {
  img {
    height: 40px;
    width: 100%;
  }
  p {
      color: var(--color-secondary);
  }
}

.navigation-menus {
  color: var(--color-primary);
  .nav-items ul {
      li {
          a {
              color: var(--color-secondary);
          }
      }
  }
}

.navigation-right-menus {
  .fa-magnifying-glass {
      color: var(--color-secondary);
  }
  .theme-btn {
      color: var(--color-secondary); 
  }

  .language-selector {
      select {
          color: var(--color-secondary);

          option {
              color: black;
          }
      }
  }
}

.login_wrapper {
  .login-btn {
      background: var(--color-bg);
      color: var(--color-bg2);
      &:hover {
          background: var(--color-accent);
          color: var(--color-secondary);
      }
  }
  .hamburger_icon {
      color: var(--color-secondary);
  }
}

.breadcrumb ol.cmp-breadcrumb__list {
  margin-top: 37px;
}

.left-container .toc-search {
  padding-top: 0;
}

.guides-footer {
  background-color: var(--color-bg2);
}

.footer {
  background-color: var(--color-bg2);
}

.footer_wrapper {
  .footer_logo-container {
      .footer_logo {
        color: var(--color-secondary);
        img {
          height: 40px;
        }
      }

      .footer_text {
        color: var(--color-secondary);
        font-family: var(--font-fam-secondary);
      }
  }

  .footer_links-container {
      .grid_item {
          .footer_links-title {
              color: var(--color-secondary);
              font-family: var(--font-fam-secondary);

          }
          .footer_links-list {
              a {
                  .footer_links-listlink {
                    color: var(--color-secondary);
                    font-family: var(--font-fam-secondary);
                  }
              }
          }
      }
  }
}

.footer_social-wrapper {
  .footer_social {
    color: var(--color-secondary);
      i {
        color: var(--color-secondary);
      }
  }
}

.footer_copywrite-wrapper {
  border-top: 1px solid var(--color-border-light);
  .footer_copywrite {
    color: var(--color-secondary);
    font-family: var(--font-fam-secondary);
  }

  .footer_privacy-wrapper {
      .footer_privacy {
        color: var(--color-secondary);
        font-family: var(--font-fam-secondary);
      }
  
      .footer_termcond {
        color: var(--color-secondary);
        font-family: var(--font-fam-secondary);
      }
  }
}


@media screen and (max-width: $screen-md) {
  .fsi-header-wrapper {
    padding: 25px 0 22px 0;
    max-width: 88%;
  }
  .header-logo {
    img {
      height: 29px;
    }
  }
  .footer_gototop {
      .gototop_arrow {
          color: var(--color-secondary);
      }

      p {
          color: var(--color-secondary);
      }
  }
}

.new {
  height: unset;
  margin: unset;
}

.fsi-header-wrapper .search-container {
  background-color: var(--color-bg);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
  border: 1px solid var(--color-primary);
}

.fsi-header-wrapper .search-container .cmp-search-bar__input {
  border: 1px solid var(--color-primary);
}
.dark .guides-footer{
  border-top: 1px solid var(--color-primary);
}

.dark .guides-header{
  border-bottom: 1px solid var(--color-primary);
}

.dark .footer_copywrite-wrapper {
  border-top: 1px solid var(--color-primary);
}

.dark .login_wrapper .login-btn {
  background: var(--color-primary);
  color: var(--color-bg2);
}

.cmp-guidesnavigation__group {
  .cmp-guidesnavigation__item {
    .toc-list-item {
      align-items: flex-start;
    }
  }
}

.cmp.cmp-guides-navigation {
  .guides-navigation {
    ul.cmp-guidesnavigation__group {
      .cmp-guidesnavigation__item--inactive.cmp-guidesnavigation__item.cmp-guidesnavigation__item-level-0 {
        .toc-list-item {
          .item-child-toggle.hide-children {
            align-self: flex-start;
            margin-top: 3px;
          }
        }
      }
    }
  }
} 

.cmp.cmp-guides-navigation {
  .guides-navigation {
    ul.cmp-guidesnavigation__group {
      .cmp-guidesnavigation__item--inactive.cmp-guidesnavigation__item.cmp-guidesnavigation__item-level-0 {
        .toc-list-item {
          .item-child-toggle.show-children {
            align-self: flex-start;
            margin-top: 3px;
          }
        }
      }
    }
  }
} 

.cmp.cmp-guides-navigation {
  .guides-navigation {
    ul.cmp-guidesnavigation__group {
      .cmp-guidesnavigation__item--active.cmp-guidesnavigation__item.cmp-guidesnavigation__item-level-0 {
        .toc-list-item {
          .item-child-toggle.hide-children {
            align-self: flex-start;
            margin-top: 3px;
          }
        }
      }
    }
  }
} 

.cmp.cmp-guides-navigation {
  .guides-navigation {
    ul.cmp-guidesnavigation__group {
      .cmp-guidesnavigation__item--active.cmp-guidesnavigation__item.cmp-guidesnavigation__item-level-0 {
        .toc-list-item {
          .item-child-toggle.show-children {
            align-self: flex-start;
            margin-top: 3px;
          }
        }
      }
    }
  }
} 

.cmp.cmp-guides-navigation {
  .guides-navigation {
    ul.cmp-guidesnavigation__group {
      .cmp-guidesnavigation__item--active.cmp-guidesnavigation__item.cmp-guidesnavigation__item-level-0 {
        ul.cmp-guidesnavigation__group.hide-children {
          .cmp-guidesnavigation__item--inactive.cmp-guidesnavigation__item.cmp-guidesnavigation__item-level-1 {
            .item-child-toggle.hide-children {
              margin-top: 2px;
            }
          }
        }
      }
    }
  }
}

.cmp.cmp-guides-navigation {
  .guides-navigation {
    ul.cmp-guidesnavigation__group {
      .cmp-guidesnavigation__item--active.cmp-guidesnavigation__item.cmp-guidesnavigation__item-level-0 {
        ul.cmp-guidesnavigation__group.hide-children {
          .cmp-guidesnavigation__item--inactive.cmp-guidesnavigation__item.cmp-guidesnavigation__item-level-1 {
            .item-child-toggle.show-children {
              margin-top: 2px;
            }
          }
        }
      }
    }
  }
}

.cmp.cmp-guides-navigation {
  .guides-navigation {
    ul.cmp-guidesnavigation__group {
      .cmp-guidesnavigation__item--active.cmp-guidesnavigation__item.cmp-guidesnavigation__item-level-0 {
        ul.cmp-guidesnavigation__group.hide-children {
          .cmp-guidesnavigation__item--active.cmp-guidesnavigation__item.cmp-guidesnavigation__item-level-1 {
            .item-child-toggle.hide-children {
              margin-top: 2px;
            }
          }
        }
      }
    }
  }
}

.cmp.cmp-guides-navigation {
  .guides-navigation {
    ul.cmp-guidesnavigation__group {
      .cmp-guidesnavigation__item--active.cmp-guidesnavigation__item.cmp-guidesnavigation__item-level-0 {
        ul.cmp-guidesnavigation__group.hide-children {
          .cmp-guidesnavigation__item--active.cmp-guidesnavigation__item.cmp-guidesnavigation__item-level-1 {
            .item-child-toggle.show-children {
              margin-top: 2px;
            }
          }
        }
      }
    }
  }
}

.cmp-guidesnavigation__item.cmp-guidesnavigation__item-no-children {
  a {
    padding-left: unset;
  }
}

.content-feedback  .feedback-container .feedback-buttons .feedback-button{
  &.selected{
    background-color: var(--color-primary);
  }
}

.dark .content-feedback{
  .feedback-container .feedback-buttons .feedback-button{
    background-color: var(--color-on-accent);
    &:hover, &.selected{
      background-color: var(--color-content-bg2);
    }
  }
}


@media (min-width: 768px) {
  .dark .minitoc-level.selected::before {
      background: var(--color-accent);
  }
}

// .sharePopup-container .popup.show {
//   z-index: 1;
// }

li.step::before{
  color: var(--color-secondary);
}

.dark .progress-bar-container>.cmp-container{
  background-color: var(--color-accent-dark);
}