@use "../../utils/css/vars" as *;

.guides-pager>.cmp-pager:first-child {
    display: flex;
    justify-content: space-between;
}

.guides-pager {
    margin-top: 40px;
    margin-bottom: 84px;

    @media screen and (max-width: $screen-md) {
        margin-bottom: 64px;
    }
}

.cmp-pager__prev .prev,
.cmp-pager__next .next {
    // font-family: var( --font-fam-primary-bold);
    font-family: var(--font-fam-primary);
    font-weight: 500;
    color: var(--color-primary);
    font-size: var(--text-base);
    line-height: var(--text-base-lh);
    letter-spacing: 1px;
}

.cmp-pager__prev,
.cmp-pager__next {
    display: flex;
    align-items: center;
}

.cmp-pager__prev .prev {
    padding-left: 4px;
}
.cmp-pager__prev svg , 
.cmp-pager__next svg {
    color: var(--color-primary);
    font-size: var(--text-5xs);
}
.cmp-pager__prev a , 
.cmp-pager__next a {
    text-decoration: none;
}
.cmp-pager__next .next {
    padding-right: 4px;
}