.download-manual-button {
    position: relative;
}

.pdf-note {
    font-size: 12px;
    color: red;
    position: absolute;
    left: 242px;
    top: 30px;

    @media screen and (max-width: 768px) {
        left: 0;
        top: 70px;
    } 
}