.related-links {
  margin-top: 40px;

  .prefix-content {
    color: var(--color-primary);
    font-weight: 700;
    font-size: var(--text-lg);
    line-height: var(--text-lg-lh);
  }

  .link {
    display: block;
    font-weight: 400;
    font-size: var(--text-sm);
    line-height: var(--text-sm-lh);
    text-decoration: auto;
    color: var(--color-primary);
    margin-top: 8px;
    text-decoration: underline;

    &:hover{
      color: var(--color-accent);
    }
    &::marker{
      unicode-bidi: isolate;
      font-variant-numeric: tabular-nums;
      text-transform: none;
      text-indent: 0px !important;
      text-align: start !important;
      text-align-last: start !important;
    }
  }

  .linkinfo {
    margin-block: 10px;
    color: var(--color-primary);
    font-size: var(--text-sm);
    line-height: var(--text-sm-lh); 
  }

  .linkpool{
    margin-left: 10px;
  }

  .linkpool a {
    position: relative;
    display: block;      /* Make each link take up its own line */
    margin-bottom: 10px;  /* Adds space between the items */
    color: var(--color-related-link);
  }
  

  .linkpool a::before {
    content: '\2022';   /* Unicode for a bullet point */
    position: absolute;
    left: -20px;        /* Position the bullet point */
    top: 0;
    font-size: 24px;    /* Adjust bullet size */
    color: var(--color-related-link);     /* Color of the bullet point */
  }  

}

.dark .related-links .link{
  &:hover{
    color: var(--color-on-accent);
  }
} 
