<sly data-sly-test="${wcmmode.edit}">
    <sly data-sly-test.componentName="${component.title}"></sly>
    <div class=no_content align="center">EDIT: ${componentName}</div>
</sly>
<div class="cmp-connect-section" data-cmp-is="connect-section" data-sly-use.connectSectionModel="com.adobe.guides.aem.components.core.models.ConnectSectionModel">
    <div class="cmp-connect-section__content">
        <h2 class="cmp-connect-section__title" data-sly-test="${properties.title}">${properties.title}</h2>
        <div class="cmp-connect-section__cards">
            <div class="cmp-connect-section__card" >
                <div class="cmp-connect-section__card-content">
                    <img class="cmp-connect-section__card-icon" src="/content/dam/guides/common-images/icons/navigation-section.svg" alt="Card Icon">
                    <h3 class="cmp-connect-section__card-title">Community</h3>
                    <p class="cmp-connect-section__card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, consectetur!</p>
                    <a href="#" class="cmp-connect-section__card-cta">
                        <span>View Community</span>
                        <img class="cmp-connect-section__arrow-icon" src="/content/dam/guides/common-images/icons/ch-right-arrow.svg" alt="Arrow Icon">
                    </a>
                </div>
            </div>
            <div class="cmp-connect-section__card" >
                <div class="cmp-connect-section__card-content">
                    <img class="cmp-connect-section__card-icon" src="/content/dam/guides/common-images/icons/navigation-section.svg" alt="Card Icon">
                    <h3 class="cmp-connect-section__card-title">Support</h3>
                    <p class="cmp-connect-section__card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, exercitationem.</p>
                    <a href="#" class="cmp-connect-section__card-cta">
                        <span>View Community</span>
                        <img class="cmp-connect-section__arrow-icon" src="/content/dam/guides/common-images/icons/ch-right-arrow.svg" alt="Arrow Icon">
                    </a>
                </div>
            </div>
            <div class="cmp-connect-section__card" >
                <div class="cmp-connect-section__card-content">
                    <img class="cmp-connect-section__card-icon" src="/content/dam/guides/common-images/icons/navigation-section.svg" alt="Card Icon">
                    <h3 class="cmp-connect-section__card-title">Blogs</h3>
                    <p class="cmp-connect-section__card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, exercitationem.</p>
                    <a href="#" class="cmp-connect-section__card-cta">
                        <span>Read our Blogs</span>
                        <img class="cmp-connect-section__arrow-icon" src="/content/dam/guides/common-images/icons/ch-right-arrow.svg" alt="Arrow Icon">
                    </a>
                </div>
            </div>
            <div class="cmp-connect-section__card" >
                <div class="cmp-connect-section__card-content">
                    <img class="cmp-connect-section__card-icon" src="/content/dam/guides/common-images/icons/navigation-section.svg" alt="Card Icon">
                    <h3 class="cmp-connect-section__card-title">Training</h3>
                    <p class="cmp-connect-section__card-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto, exercitationem.</p>
                    <a href="#" class="cmp-connect-section__card-cta">
                        <span>Watch Tutorials</span>
                        <img class="cmp-connect-section__arrow-icon" src="/content/dam/guides/common-images/icons/ch-right-arrow.svg" alt="Arrow Icon">
                    </a>
                </div>
            </div>
        </div>
        <div class="cmp-connect-section__hero">
            <div class="cmp-connect-section__hero-content">
                <h2 class="cmp-connect-section__hero-title">Stay Ahead of the Curve</h2>
                <p class="cmp-connect-section__hero-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, consectetur!</p>
                <a href="#" class="cmp-connect-section__hero-cta">
                    <span>Get Started</span>
                </a>
                <img class="cmp-connect-section__hero-img" src="/content/dam/guides/common-images/icons/mobile.png" alt="mobile image">
            </div>
        </div>
    </div>
</div> 