<sly data-sly-test="${wcmmode.edit}">
    <sly data-sly-test.componentName="${component.title}"></sly>
    <div class=no_content align="center">EDIT: ${componentName}</div>
</sly>
<div class="cmp-connect-section" data-cmp-is="connect-section" data-sly-use.connectSectionModel="com.adobe.guides.aem.components.core.models.ConnectSectionModel">
    <div class="cmp-connect-section__content">
        <h2 class="cmp-connect-section__title" data-sly-test="${connectSectionModel.title}">${connectSectionModel.title}</h2>
        <div class="cmp-connect-section__cards" data-sly-list.card="${connectSectionModel.cards}">
            <div class="cmp-connect-section__card" >
                <div class="cmp-connect-section__card-content">
                    <img class="cmp-connect-section__card-icon" src="${connectSectionModel.cardIcon ? connectSectionModel.cardIcon : '/content/dam/guides/common-images/icons/navigation-section.svg'}" alt="Card Icon">
                    <h3 class="cmp-connect-section__card-title">${card.cardTitle}</h3>
                    <p class="cmp-connect-section__card-description">${card.description}</p>
                    <a href="${card.ctaLink}" class="cmp-connect-section__card-cta">
                        <span>${card.ctaLabel}</span>
                        <img class="cmp-connect-section__arrow-icon" src="${connectSectionModel.arrowIcon ? connectSectionModel.arrowIcon : '/content/dam/guides/common-images/icons/ch-right-arrow.svg' }" alt="Arrow Icon">
                    </a>
                </div>
            </div>
        </div>
        <div class="cmp-connect-section__hero">
            <div class="cmp-connect-section__hero-content">
                <h2 class="cmp-connect-section__hero-title">Stay Ahead of the Curve</h2>
                <p class="cmp-connect-section__hero-description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, consectetur!</p>
                <a href="#" class="cmp-connect-section__hero-cta">
                    <span>Get Started</span>
                </a>
                <img class="cmp-connect-section__hero-img" src="/content/dam/guides/common-images/icons/mobile.png" alt="mobile image">
            </div>
        </div>
    </div>
</div> 