<sly data-sly-use.preNextModel="com.adobe.guides.aem.components.core.models.PrevNextTopicModel"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-test.hasContent="${preNextModel.previousTopicTitle || preNextModel.nextTopicTitle}"/>

<div class="gu-pre-next-wrapper" data-sly-test="${hasContent}">
    <div class="gu-pre-topic_container-wrapper">
        <div class="gu-pre-topic_container" data-sly-test="${preNextModel.previousTopicTitle}">
            <a href="${preNextModel.previousTopicLink}" class="gu-pre-next-topic_arrow-container">
                <div class="gu-pre-topic_container-img">
                    <img src="${preNextModel.previousIcon}">
                </div>
            </a>
            <div class="gu-pre-next-topic_text-container">
                <a href="${preNextModel.previousTopicLink}" style="text-decoration: none;"><p class="gu-pre-next-topic_text">${preNextModel.previousLabel @ i18n}</p></a>
                <a class="gu-pre-next-topic_link"
                    href="${preNextModel.previousTopicLink}">${preNextModel.previousTopicTitle}</a>
            </div>
        </div>
    </div>
    <div class="gu-next-topic_container-wrapper">
        <div class="gu-next-topic_container" data-sly-test="${preNextModel.nextTopicTitle}">

            <div class="gu-pre-next-topic_text-container">
                <a href="${preNextModel.nextTopicLink}" style="text-decoration: none;"><p class="gu-pre-next-topic_text">${preNextModel.nextLabel @ i18n}</p></a>
                <a class="gu-pre-next-topic_link"
                    href="${preNextModel.nextTopicLink}">${preNextModel.nextTopicTitle}</a>
            </div>
            <a href="${preNextModel.nextTopicLink}" class="gu-pre-next-topic_arrow-container">
                <div class="gu-next-topic_container-img">
                    <img src="${preNextModel.nextIcon}">
                </div>
            </a>
        </div>
    </div>
</div>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent, classAppend='gu-pre-next-wrapper'}"></sly>
