<sly data-sly-test="${wcmmode.edit}">
    <sly data-sly-test.componentName="${component.title}"></sly>
    <div class=no_content align="center">EDIT: ${componentName}</div>
</sly>

<sly data-sly-use.preNextModel="com.adobe.guides.aem.components.core.models.PreNextModel" />

<div class="gu-pre-next-wrapper" data-sly-test="${preNextModel.previousTopicTitle || preNextModel.nextTopicTitle}">
    <div class="gu-pre-topic_container-wrapper">
        <div class="gu-pre-topic_container" data-sly-test="${preNextModel.previousTopicTitle}">
            <a href="${preNextModel.previousTopicLink}" class="gu-pre-next-topic_arrow-container">
                <div class="gu-pre-topic_container-img">
                    <img src="${preNextModel.previousIcon}">
                </div>
            </a>
            <div class="gu-pre-next-topic_text-container">
                <p class="gu-pre-next-topic_text">${preNextModel.previousLabel @ i18n}</p>
                <a class="gu-pre-next-topic_link"
                    href="${preNextModel.previousTopicLink}">${preNextModel.previousTopicTitle}</a>
            </div>
        </div>
    </div>
    <div class="gu-next-topic_container-wrapper">
        <div class="gu-next-topic_container" data-sly-test="${preNextModel.nextTopicTitle}">

            <div class="gu-pre-next-topic_text-container">
                <p class="gu-pre-next-topic_text">${preNextModel.nextLabel @ i18n}</p>
                <a class="gu-pre-next-topic_link"
                    href="${preNextModel.nextTopicLink}">${preNextModel.nextTopicTitle}</a>
            </div>
            <a href="${preNextModel.nextTopicLink}" class="gu-pre-next-topic_arrow-container">
                <div class="gu-next-topic_container-img">
                    <img src="${preNextModel.nextIcon}">
                </div>
            </a>
        </div>
    </div>
</div>
