<sly data-sly-use.bannerObj="com.adobe.guides.aem.components.core.models.BannerModel"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-test.hasContent="${bannerObj.title}"/>

<section class="gu-banner" data-sly-test="${hasContent}">
    <div class="gu-container gu-banner__container">
        <p class="gu-banner__title">${bannerObj.title}</p>
        <p class="gu-banner__description">${bannerObj.description}</p>
        <a href="${bannerObj.ctaLink}" class="gu-banner__cta">${bannerObj.ctaLabel}</a>
    </div>
</section>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent, classAppend='gu-banner'}"></sly>
