@media (min-width: 1024px) {
  .navigation {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 0;

    .cmp-navigation {
      overflow: auto;
      padding-inline: 1.25rem;

      &-filter__wrapper {
        padding-inline: 1.25rem;
      }

      &::-webkit-scrollbar {
        width: 6px;
      }

      &::-webkit-scrollbar-track {
        border-radius: 0.39rem;
      }

      &::-webkit-scrollbar-thumb {
        background: var(--border-common);
        border-radius: 0.39rem;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: var(--light-grey-border);
      }
    }
  }
}

#gu-nav.show {
    .navigation {
        .navigation-title {
			display:block;
        }
    }
}
html.adobeguides-text-size {
  .navigation {
    .cmp-navigation {
      overflow: auto;
      padding: 0 20px;
    }
  }
}