html.adobeguides-text-size .social-share-container .social-links {
  left: unset;
}

html.adobeguides-text-spacing .social-share-container .social-links {
  left: unset;
}

@media (max-width: 768px) {
  html.adobeguides-text-size .social-share-container .social-links {
    right: -1rem
  }
  html.adobeguides-text-spacing .social-share-container .social-links {
    right: -1rem
  }
}
