.version-selector {
  .dropdown__item {
    margin-bottom: 0 !important;
  }
}

html#adobeguides-dark-contrast {
  .version-selector .dropdown__button  {
    color: var(--white-color);
  }
  .version-selector .dropdown__button svg {
    fill: var(--white-color);
  }
  .version-selector .dropdown__container span {
    color: var(--white-color) !important;
  }

  .version-selector .dropdown__item:hover {
    background: var(--primary-color) !important;
    color: var(--white-color) !important;
    a {
      color: var(--white-color);
    }
  }
}
