.relatedarticles {
    color: var(--color-primary);
    margin-bottom: 40px;

    .cmp-related-articles {
        &__title {
            font-size: var(--text-lg);
            line-height: var(--text-lg-lh);
            font-weight: 700;
            margin-bottom: 16px;
        }

        &__list {
            list-style: none;

            .cmp-related-articles__item {
                margin-bottom: 16px;
                margin-left: 0;

                &:last-child {
                    margin-bottom: 0;
                }

                .cmp-related-articles__link {
                    font-size: var(--text-sm);
                    line-height: var(--text-sm-lh);
                    font-weight: 400;
                    text-decoration: underline;
                    margin-bottom: 16px;
                    color: var(--color-primary);
                }
            }
        }
    }
}