html.adobeguides-text-size {
  .fsi-guides-topic-page .breadcrumb {
    padding: 20px;
  }
  .cmp-languagenavigation__item a {
    font-size: 14px !important;
  }
  .custom-container .gu-custom-container .col-3grid--right.collapsed {
    border: none !important;
  }
  @media (min-width: 767px) {
    .header .gu-header_toolbarheader .below-title .gu-theme__icon-container {
      display: inline;
    }
  }
}

html#adobeguides-dark-contrast {
  .lat-section {
    border: 1px solid white;
    margin: 0.625rem;
    width: 94%;
    .cmp-languagenavigation__group li,
    .cmp-languagenavigation__group,
    .cmp-languagenavigation {
      border-color: transparent !important;
      border: none;
      background-color: transparent !important;
    }
  }
  .footer {
    .gu-footer_social-icon {
      filter: invert(80%) brightness(95%) contrast(90%);
    }
  }
}
html.adobeguides-light-contrast {
  .lat-section {
    .cmp-languagenavigation__group li,
    .cmp-languagenavigation__group,
    .cmp-languagenavigation {
      border-color: transparent !important;
      border: none;
    }
  }
}
html.adobeguides-text-spacing {
  .custom-container .gu-custom-container .col-3grid--right.collapsed {
    border: none !important;
  }
  .lat-section
    .gu-accessibility-toolbar
    .gu-accessibility__title-container
    span {
    letter-spacing: normal !important;
  }
  .lat-section
    .gu-language-navigation-toolbar
    .gu-language-navigation__title-container
    span {
    letter-spacing: normal !important;
  }
  .gu-accessibility_menu.show a,
  .cmp-languagenavigation__group li,
  .cmp-languagenavigation__group,
  .cmp-languagenavigation {
    letter-spacing: normal !important;
  }
}
html#adobeguides-dark-contrast {
  .cmp-languagenavigation {
    border-radius: 0.75rem;
      background: #26272b !important;
      box-shadow: 0 4px 16px 0 var(--box-shadow-color);
      border: none;
  }
  .gu-accessibility_menu.show {
    border-radius: 0.75rem;
    background: #26272b !important;
    box-shadow: 0 4px 16px 0 var(--box-shadow-color);
    border: none;
  }
  .gu-accessibility_wrapper .gu-accessibility_menu li span {
    color: #ffff ;
  }
  .gu-accessibility_wrapper .gu-accessibility_menu li span:hover {
    color: #0065ff !important;
  }
}

<<<<<<< HEAD
=======

>>>>>>> 8d163ed (Feature/add more guides components Merge into Develop - Figma aligned fixes (#13))

