.gu-pdf-export__wrapper {
  .gu-pdf-export__button {
    padding: 0;
    width: 40px;
    height: 40px;
  }
  .gu-pdf-export__button:hover,
  .gu-pdf-export__button:active {
    background-color: var(--secondary-btn-color-hover);
    border-radius: 50%;
  }
  .gu-pdf-export__options li {
    margin: 0;
  }
}

@media (min-width: 600px) {
  .gu-pdf-export__wrapper {
    .gu-pdf-export__button {
      padding: 0.5rem;
    }
    .gu-pdf-export__dropdown {
      .gu-pdf-export__options li {
        margin: 0;
      }
    }
  }
}

html#adobeguides-dark-contrast {
  .gu-pdf-export__dropdown {
    border-radius: 0.75rem;
    background: #26272b !important;
    box-shadow: 0 4px 16px 0 var(--box-shadow-color);
    border: none;
  }
  .gu-pdf-export__options li a {
    color: #ffffff;
    &:hover {
      color: #0065ff;
    }
  }
}

.fsi-guides-topic-page.dark {
  .gu-pdf-export__options li a {
    &:hover {
      color: #ffffff;
    }
  }
}
