.prev-next-topic {
  .gu-pre-topic_container {
    margin-bottom: 0.75rem;
  }
  .gu-pre-next-topic_arrow-container {
    display: none;
  }
  .gu-pre-next-topic_text-container {
    display: flex;
  }
  .gu-pre-next-topic_text {
    font-size: var(--body-1-fs);
    line-height: var(--body-1-lh);
    font-weight: 400;
    color: var(--secondary-color);
    margin-bottom: 0;
  }
  .gu-pre-next-topic_text::after {
    content: ":";
    margin-left: 0.25rem;
    margin-right: 0.25rem;
  }
  .gu-pre-next-topic_link {
    font-size: var(--body-1-fs);
    line-height: var(--body-1-lh);
    font-weight: 600;
    color: var(--primary-color);
    text-decoration: none;
    margin-left: 0.25rem;
  }

  .gu-pre-next-wrapper {
    float: right;
  }
}

html.adobeguides-text-spacing.adobeguides-text-size{
  .prev-next-topic {
   
  .gu-pre-next-topic_text {
    
    white-space: nowrap;
  }
  
  .gu-pre-next-topic_link {
   
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

}
}
 @media (max-width: 1024px) {

 .prev-next-topic {
   .gu-pre-next-wrapper {
    float: left;
    width: 100%;
   }

  }
 }
 @media (min-width: 1024px) {
.prev-next-topic {
   .gu-pre-next-wrapper {
    float: right;
  }
}
 }