.related-tags {
  margin-left: 0;
  margin-top: auto;
  .tags {
   
    &__value {
      background: #fff0b3;
     
      h3 {
        color: #caa100;
      }
    }
  }
}



@media (min-width: 1024px) {
  .related-tags {
    margin-inline: 1.25rem;
  }

  .gu-custom-container.DISABLEDMODE {
    .related-tags {
      min-height: 77px;
    }
  }
}

  .navigation {
    h4{
      font-size: 26px;
    }
  }
  
  @media (max-width: 767px) {

    .related-tags {
  .tags {
 
    &__envelop {
      display: flex;
      white-space: nowrap;
      flex-wrap: wrap;
          gap:0;
       column-gap: 0.75rem;
    }
  }}
     #gu-nav.show {

    top: 15%;
    height: 76%;
  }
    html.adobeguides-text-size #gu-nav.show{
    height: 76%;
    }

  }