.social-share-container {
  .share-icon {
    padding: 0;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    &:hover {
      background-color: var(--secondary-btn-color-hover);
      border-radius: 50%;
    }
  }
}
html#adobeguides-dark-contrast {
  .social-share-container {
    .social-links{
      border-radius: 0.75rem;
      background: #26272b !important;
      box-shadow: 0 4px 16px 0 var(--box-shadow-color);
      border: none;
    } 
    li a{
  color: #ffff;

    &:hover {
      color: #0065ff !important;

    }
  }
    }
  }