.fsi-guides-topic-page div.topic {
  .toolbar-container {
    display: block;
    position: relative;

    #link-fsi {
      position: absolute;
      bottom: -31%;
    }
    #link-fsi-mobile {
      position: absolute;
      bottom: -31%;
    }
  }
  .topic__updated .updated__container {
    padding-bottom: 0;
    border: 0;
    margin-bottom: 0.5rem;
  }
}
