.home-banner {
  #section-topic {
    .copy-link-button,
    .social-share,
    .pdf-export,
    .version-selector {
      display: block;
    }
    .toolbar-wrapper {
      display: flex;
    }
  }
}

#section-topic {
  .copy-link-button,
  .social-share,
  .pdf-export,
  .toolbar-wrapper,
  .version-selector {
    display: none;
  }
}

html#adobeguides-dark-contrast {
  .home-banner {
    #section-topic {
      background-color: transparent;
    }
  }
}
html#adobeguides-dark-contrast {
  #section-topic {
    background-color: var(--common-bg);
  }
}

body.dark {
  .home-banner {
    #section-topic {
      background-color: transparent;
    }
  }
}
body.dark {
  #section-topic {
    background-color: var(--common-bg);
  }
}
