.version-selector {
  .dropdown {
    margin-bottom: 1rem;
    width: max-content;
    padding: 0.375rem 0.2rem 0.375rem 0.2rem;
    border-radius: 0.25rem;
    border: 1px solid var(--light-grey-border);
    background: var(--common-bg);
    min-width: 4rem;

    &:hover {
      border: 1px solid var(--primary-dark);
    }

    &__container {
      display: flex;
      align-items: center;
      cursor: pointer;
      gap: 0.15rem;
      justify-content: center;
      span {
        color: var(--primary-color);
        font-size: var(--body-font-size);
        font-weight: 600;
        line-height: var(--body-font-line-height);

        &:hover {
          color: var(--primary-color);
        }
      }
    }

    &__value {
      max-width: 5ch;
    }

    &__button {
      background: none;
      border: none;
      padding: 0;
      cursor: pointer;
      display: flex;
      align-items: center;

      svg {
        fill: var(--primary-color);

        &:hover {
          fill: var(--primary-color);
        }
      }
    }

    &__list {
      position: absolute;
      top: 100%;
      left: 0;
      margin: 0.25rem 0 0;
      padding: 0;
      list-style: none;
      z-index: var(--z-index-2);
      border-radius: 0.25rem;
      border: 1px solid var(--light-grey-border);
      background: var(--white-color);
      box-shadow: 0 4px 16px 0 var(--box-shadow-color);
      width: 64px;
    }

    &__item {
      padding: 0.5rem 0.75rem 0.25rem 0.688rem;
      text-align: center;
      &:hover {
        background: var(--accent-light-blue);
        padding: 0.25rem 0.688rem;
      }

      a {
        max-width: 5ch;
        color: var(--secondary-light);
        font-size: var(--body-font-size);
        font-weight: 600;
        line-height: var(--body-font-line-height);
        text-decoration: none;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }

  @media (min-width: 600px) {
    .dropdown {
      margin-top: 0;
      margin-bottom: 0;
      position: relative;
      max-width: 66px;
    }
  }
}
html#adobeguides-dark-contrast {
  .version-selector .dropdown__button {
    color: var(--white-color);
  }
  .version-selector .dropdown__button svg {
    fill: var(--white-color);
  }
  .version-selector .dropdown__container span {
    color: var(--white-color) !important;
  }

  .version-selector .dropdown__item:hover {
    background: var(--primary-color) !important;
    color: var(--white-color) !important;
    a {
      color: var(--white-color);
    }
  }
}