@mixin fonts{
    // --font-fam-primary : 'Inter", sans-serif';
    --font-fam-primary-light: "Inter", sans-serif;
  --font-fam-primary-regular: "Inter", sans-serif;
  --font-fam-primary-medium: "Inter", sans-serif;
  --font-fam-primary-bold: "Inter", sans-serif;
  --font-fam-secondry: "Urbanist", serif;
}

@font-face {
    font-family: Inter;
    src: url('/content/dam/aemguidesDALP/fonts/inter/Inter-Light.woff');
    font-weight: 300;
  }
  @font-face {
    font-family: Inter;
    src: url('/content/dam/aemguidesDALP/fonts/inter/Inter-Regular.woff');
    font-weight: 400;
  }
  @font-face {
    font-family: Inter;
    src: url('/content/dam/aemguidesDALP/fonts/inter/Inter-Medium.woff');
    font-weight: 500;
  }
  @font-face {
    font-family: Inter;
    src: url('/content/dam/aemguidesDALP/fonts/inter/Inter-Bold.woff');
    font-weight: 700;
  }
//   @font-face {
//     font-family: Urbanist;
//     src: url('../../../aemguidesDALP/fonts/urbanist/Urbanist-Medium.ttf');
//     font-weight: 500;
//   }