<sly data-sly-test="${wcmmode.edit}">EDIT TOPIC RENDERER COMPONENT</sly>

<sly data-sly-use.model="com.adobe.guides.aem.components.core.models.TopicRendererModel"></sly>
<sly data-sly-use.metadata="com.adobe.guides.aem.components.core.models.MetaDataModel"></sly>

<section id="section-topic" class="base-topic-page-section">
    <div class="par parsys">
        <div class="topic section">
            <!-- Topic Content -->
            <div class="topic section">
                <div class="toolbar-scenario-mobile"></div>
                <div class="topic__container">
                    <h1 class="title">${metadata.pageTitle}</h1>
                </div>
                <div class="topic__updated">
                    <div class="updated__container">
                        <div class="updated__section">
                            <span class="updated">${'Updated On' @ i18n} : ${metadata.lastUpdated}</span>
                            <span class="separator">| </span>
                            <span class="published">${'Published On' @ i18n} : ${metadata.lastPublished}</span>
                        </div>
                        <div class="contributors" data-sly-resource="${'contributors' @ resourceType='aemguides/components/guides-components/contributors'}"></div>
                    </div>
                </div>
                <div class="toolbar-container"></div>
                <div data-sly-resource="${model.topicnodepath @ resourceType='foundation/components/parsys'}"></div>
            </div>
        </div>
    </div>
</section>
