<sly data-sly-use.model="com.adobe.guides.aem.components.core.models.TopicRendererModel"
     data-sly-use.template="core/wcm/components/commons/v1/templates.html"
     data-sly-test.hasContent="${model.topicnodepath}"></sly>
<sly data-sly-use.metadata="com.adobe.guides.aem.components.core.models.MetaDataModel"></sly>

<section id="section-topic" class="base-topic-page-section">
    <div class="par parsys">
        <div class="topic section">
            <!-- Topic Content -->
            <div class="topic section">
                <div class="toolbar-scenario-mobile"></div>
                <div class="topic__container">
                    <div class="topic__title-bar">
                        <h1 class="title">${metadata.pageTitle}</h1>
                        <div data-sly-resource="${'page-actions' @ resourceType='guides-components/components/page-actions'}"></div>
                    </div>
                </div>
                <div class="topic__updated">
                    <div class="updated__container">
                        <div class="updated__section">
                            <span class="updated"><span>${'Updated On' @ i18n} : </span> <span>${metadata.lastUpdated}</span></span>
                            <span class="separator">| </span>
                            <span class="published"><span>${'Published On' @ i18n} :</span> <span>${metadata.lastPublished}</span></span>
                        </div>
                        <div class="contributors" data-sly-resource="${'contributors' @ resourceType='guides-components/components/contributors'}"></div>
                    </div>
                </div>
                <div class="toolbar-container"></div>
                <div data-sly-resource="${model.topicnodepath @ resourceType='foundation/components/parsys'}"></div>
            </div>
        </div>
    </div>
</section>
<sly data-sly-call="${template.placeholder @ isEmpty=!hasContent, classAppend='gu-custom-container'}"></sly>
