html#adobeguides-dark-contrast {
  .gu-header_nav-link {
    border: 2px solid var(--white-color) !important;
    border-radius: 100vmax !important;
    padding: 0.25rem !important;
  }
  .navigation nav > ul.cmp-navigation__group span {
    color: var(--white-color);
  }
  .navigation nav > ul.cmp-navigation__group,
  .navigation nav > ul.cmp-navigation__group li.expanded ul li a,
  .navigation nav > ul.cmp-navigation__group li a {
    color: var(--yellow-color) !important;
  }

  .version-selector .dropdown__container span:hover {
    color: var(--white-color);
  }
  .gu-copy-link__text {
    color: var(--text-color);
  }
  .pre-next-component .gu-pre-next-topic_text,
  .pre-next-component .gu-next-topic_container,
  .pre-next-component .gu-pre-topic_container {
    color: var(--white-color) !important;
  }

  .version-selector .dropdown__item:hover {
    background-color: var(--text-color) !important;
  }

  .version-selector .dropdown__list {
    background-color: var(--text-color) !important;

    a {
      color: var(--white-color) !important;
    }
  }

  .topic {
    h1.title {
      transition: all;
      border-color: var(--white-color) !important;
      color: var(--white-color) !important;
    }

    .updated,
    .published,
    .stepresult::before,
    .result::before {
      color: var(--dark-grey) !important;
    }

    .p,
    ul,
    li {
      transition: 0.3s;
      border-color: var(--white-color) !important;
      color: var(--white-color) !important;
    }

    .note,
    .note::before {
      background: transparent !important;
      transition: all;
    }

    .shortdesc {
      background-color: var(--text-color) !important;
      transition: all;
      border: 1px solid var(--white-color) !important;
      color: var(--green-color) !important;
    }

    .section {
      color: var(--white-color) !important;

      h2.title {
        color: var(--white-color) !important;
      }
    }

    .table {
      .p {
        color: var(--text-color) !important;
      }

      ul,
      li {
        color: var(--text-color) !important;
      }
    }

    .simpletable {
      .p {
        color: var(--text-color) !important;
      }

      ul,
      li {
        color: var(--text-color) !important;
      }
    }
  }

  .social-links,
  .gu-theme__overlay-container,
  .gu-pdf-export__dropdown,
  .cmp-languagenavigation,
  .gu-accessibility_menu.show {
    background-color: var(--text-color) !important;
    border: 1px solid var(--white-color);

    a {
      background-color: transparent !important;
    }
  }

  .social-links li:hover {
    background: transparent !important;
    color: inherit !important;
  }

  .gu-pdf-export__options li:hover,
  .cmp-languagenavigation__item:hover {
    color: inherit !important;
    background: transparent !important;
  }

  .gu-accessibility_wrapper .gu-accessibility_menu li.high-contrast span {
    color: var(--primary-color) !important;
    background: transparent !important;
  }

  .gu-accessibility_wrapper .gu-accessibility_menu li.low-contrast span {
    color: var(--toolbar-text-color) !important;
    background: transparent !important;
  }

  .gu-accessibility_wrapper .gu-accessibility_menu li:hover {
    color: inherit !important;
    background: transparent !important;
  }

  #gu-nav.show {
    background-color: var(--text-color) !important;
    border: 2px solid var(--white-color) !important;
  }
}

html.adobeguides-light-contrast {
  .gu-header_nav-link {
    border: 2px solid var(--bluish-color) !important;
    border-radius: 100vmaxm !important;
    padding: 0.25rem !important;
  }

  .navigation nav > ul.cmp-navigation__group,
  .navigation nav > ul.cmp-navigation__group li.expanded ul li a {
    color: var(--blue-link-color) !important;
  }

  .pre-next-component .gu-pre-next-topic_text,
  .pre-next-component .gu-next-topic_container,
  .pre-next-component .gu-pre-topic_container {
    color: var(--text-color) !important;
  }

  .social-links li:hover {
    background: transparent !important;
    color: inherit !important;
  }

  .gu-pdf-export__options li:hover,
  .cmp-languagenavigation__item:hover {
    color: inherit !important;
    background: transparent !important;
  }

  .gu-accessibility_wrapper .gu-accessibility_menu li.low-contrast span {
    color: var(--primary-color) !important;
    background: transparent !important;
  }

  .gu-accessibility_wrapper .gu-accessibility_menu li.high-contrast span {
    color: var(--toolbar-text-color) !important;
    background: transparent !important;
  }

  .gu-accessibility_wrapper .gu-accessibility_menu li:hover {
    color: inherit !important;
    background: transparent !important;
  }

  .topic {
    .updated,
    .published {
      color: var(--blue-link-color) !important;
    }

    .p,
    ul,
    li {
      transition: all;
      color: var(--text-color) !important;
      border-color: var(--text-color) !important;
    }

    .note,
    .note::before {
      background: var(--note-bg) !important;
      transition: all;
    }

    .shortdesc {
      background-color: transparent !important;
      transition: all;
      border: 1px solid var(--text-color);
      color: var(--text-color) !important;
    }
  }
}

html.adobeguides-text-size {
  font-size: 20px !important;

  .backToTop .gu-backToTop_wrapper .gu-backToTop_icon-container,
  .social-share-container .share-icon,
  .theme-selector .gu-theme__icon-container,
  .gu-pdf-export__wrapper .gu-pdf-export__button {
    padding: 0 !important;
  }
  .header .gu-header__humberger .menu-tigger.button-tigger span:nth-child(1) {
    transform-origin: 2px 10px;
  }

  .gu-accessibility_wrapper .gu-accessibility_menu li span {
    font-size: 14px !important;
    line-height: var(--body-font-line-height) !important;
    letter-spacing: normal !important;
  }

  .gu-accessibility_wrapper .gu-accessibility_menu li.text-size span {
    color: var(--primary-color) !important;
    background: transparent !important;
  }

  .gu-accessibility_wrapper .gu-accessibility_menu li:hover {
    color: inherit !important;
    background: transparent !important;
  }

  @media (max-width: 767px) {
    .header .cmp-search__icon,
    .header .cmp-search__clear-icon {
      top: 71px;
    }
  }

  .theme-selector .gu-theme__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #adobeguides-dark-contrast .gu-header_nav-link {
    padding: 0.25rem !important;
  }

  .adobeguides-light-contrast .gu-header_nav-link {
    padding: 0.25rem !important;
  }

  .gu-accessibility_menu.show {
    display: block;
    width: 250px;
    padding: 1rem 0.75rem;
  }

  .gu-accessibility_wrapper .gu-accessibility_menu li {
    padding: 0.5rem 0.75rem;
  }

  .social-share-container .social-links {
    width: max-content;
  }
  .base-topic-page-section {
    div.topic {
      .shortdesc {
        padding-bottom: 1.5rem;
      }
    }
  }
  @media (min-width: 767px) {
    .social-share-container .social-links {
      width: auto;
    }
  }
  @media (min-width: 1024px) {
    .social-share-container .social-links {
      width: max-content;
    }
  }
  #gu-nav.show {
    height: 70%;
  }
  @media (min-width: 1024px) {
    .shortdesc {
      max-height: 60px !important;
    }
    .shortdesc.expanded {
      max-height: 100px !important;
    }
  }
  @media (max-width: 767px) {
    #gu-nav.show {
      height: 70%;
    }
  }
  @media (max-width: 500px) {
    #gu-nav.show {
      height: 66%;
    }
  }
  @media (max-width: 400px) {
    #gu-nav.show {
      height: 70%;
    }
  }
}

html.adobeguides-text-spacing {
  letter-spacing: 2px !important;

  .theme-selector .gu-theme__overlay-content .dropdown-item {
    letter-spacing: 2px !important;
  }

  .backToTop .gu-backToTop_wrapper .gu-backToTop_icon-container,
  .social-share-container .share-icon,
  .theme-selector .gu-theme__icon-container,
  .gu-pdf-export__wrapper .gu-pdf-export__button {
    padding: 0 !important;
  }
  .theme-selector .gu-theme__icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .gu-accessibility_wrapper .gu-accessibility_menu li span {
    font-size: 14px !important;
    line-height: var(--body-font-line-height) !important;
    letter-spacing: normal !important;
  }

  .gu-accessibility_wrapper .gu-accessibility_menu li.text-space span {
    color: var(--primary-color) !important;
    background: transparent !important;
  }

  .gu-accessibility_wrapper .gu-accessibility_menu li:hover {
    color: inherit !important;
    background: transparent !important;
  }
  .base-topic-page-section {
    div.topic {
      .shortdesc {
        padding-bottom: 1.5rem;
      }
    }
  }
  @media (max-width: 1023px) {
    .social-share-container .social-links {
      width: auto;
      padding: 1rem 0.5rem;
    }
  }
}
